/* style.css */
body {
    font-family: Arial, sans-serif;
}

.stApp {
    background-color: #07080d98;
}

.stDataFrame div {
    overflow: auto;body {
        font-family: Arial, sans-serif;
    }
    
    .stApp {
        background-color: #1e1e1e;
        color: #f0f0f0;
    }
    
    .stDataFrame div {
        overflow: auto;
    }
    
    .stDataFrame table {
        width: 100%;
        border-collapse: collapse;
        background-color: #2d2d2d;
    }
    
    .stDataFrame th, .stDataFrame td {
        border: 1px solid #444;
        padding: 8px;
    }
    
    .stDataFrame tr:nth-child(even) {
        background-color: #3e3e3e;
    }
    
    .stDataFrame tr:hover {
        background-color: #575757;
    }
    
    .stDataFrame th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #4a90e2;
        color: white;
    }
    
    .stDataFrame td input {
        width: 100%;
        border: none;
        background: transparent;
        color: #f0f0f0;
    }
    
    .stSidebar {
        background-color: #292929;
        color: #f0f0f0;
    }
    
}

.stDataFrame table {
    width: 100%;
    border-collapse: collapse;
}

.stDataFrame th, .stDataFrame td {
    border: 1px solid #060000;
    padding: 8px;
}

.stDataFrame tr:nth-child(even) {
    background-color: #f2f2f2;
}

.stDataFrame tr:hover {
    background-color: #ddd;
}

.stDataFrame th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #046808;
    color: white;
}

.stDataFrame td input {
    width: 100%;
    border: none;
    background: transparent;
}
